@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(./img/background.jpg);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
BODY::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.15);
}

.hide{
    display: none !important; 
}

.active{
    background-color: #000000!important;
    color: white !important;
}



.btn{
    display: inline-block;
    place-items: center;
    width: 128px; 
    border: 1px solid #00000030;
    background-color: #ffffff50;
    padding: 8px 6px;
    border-radius: 4px;
    cursor: pointer;
}

.btn.active:hover{
    background-color: #30303050;
}

.btn:hover{
    background-color: #eaeaea;
}

.btn.play{
    width: 200px;
}
.btn.play:hover{
    background-color: rgb(189, 2, 2) !important;
}

canvas{
    border: 1px solid #00000030;
    border-radius: 12px;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #ffffff30;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}


.options{
    background-color: #ffffff30;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid #00000030;
    width: fit-content;
    padding: 24px 24px;
    text-align: center;
    border-radius: 8px;
}

.gameover{
   
    
    text-align: center;
    border: 1px solid black;
    width: fit-content;
    padding: 24px 24px;
    width: 100vw;
    height: 100vh;
    background-color: #00000095;
    color:  #222;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(12px);
    
}

.gameover .container{
    display: flex;
    flex-direction: column;
    place-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    background-color: #FFFFFF60;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 8px;
    border: 1px solid #ffffff90;
}

h1{
    font-size: 48px;
    color: #FFF;
    font-family: 'Macondo', cursive;
    margin: 0;

}

.gameover div.btn{
    border-color: #cccccc !important;
    background-color: #ffffff30;
    color: #ffffff;
}
.gameover div.btn:hover{
    border-color: #cccccc !important;
    background-color: #ffffff50;
}